
Load{

    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* const spin = keyframes`
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
`; */

.Spinner{

    background-color: rgba(17, 25, 40, 0.75);
    border: 0.5rem solid transparent;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border-left-color: var(--secondary);
    animation: 1s linear infinite;
    transform: rotate(0deg);
    margin: 2rem;
}
